<div class="alert alert-danger" *ngIf="!ctDao.isChosenCompany()">
    Deve selecionar um Estabelecimento
</div>    
<div *ngIf="ctDao.isChosenCompany()">
<div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 class="text-primary">Configuração Estabelecimento</h1>
            </div>  
        </div>
 </div>
 <div class="row">
     <div class="col-lg-8 col-lg-offset-2">
       <form [formGroup]="establishForm" novalidate>
        <div class="form-group">
          <label class="center-block">Nome:
          <input class="form-control" formControlName="establishName">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Endereço:
          <input class="form-control" formControlName="address">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Cep:
          <input class="form-control" formControlName="cep">
          </label>
        </div>
        <div class="form-group">
        <table>
          <tbody>
            <tr>
              <td style="padding-right:30px;">
        <div class="form-group input-group">
                     <span class="input-group-addon">Inicio Lançamentos</span> 
                     <input class="form-control" placeholder="Vencimento (yyyy-mm-dd)" formControlName="datestartwork"
                                ngbDatepicker #d1="ngbDatepicker"/>
                        <a href="javascript:;" (click)="d1.toggle()" class="btn btn-primary input-group-addon"><i class="fa fa-calendar-check-o"></i></a>        
        </div>
              </td>
              <td>
                   <div class="form-group input-group">
                     <span class="input-group-addon">Fim  Lançamentos</span> 
                     <input class="form-control" placeholder="Vencimento (yyyy-mm-dd)" formControlName="dateendwork"
                                ngbDatepicker #d2="ngbDatepicker"/>
                        <a href="javascript:;" (click)="d2.toggle()" class="btn btn-primary input-group-addon"><i class="fa fa-calendar-check-o"></i></a>        
        </div>


              </td>
            </tr> 
          </tbody>
        </table> 
        </div>
       </form>
     </div>
 </div>