<div class="row">
    <div class="col-lg-8">
       <h3>Parcelas</h3>
    </div>
    <div class="col-lg-4 text-right" >
      <button [disabled]="!allowInclude" class="btn btn-primary" (click)="toogleForm()">Incluir<i class="fa fa-plus"></i></button>
      <!--  <a href="javascript:;" class="btn btn-primary" (click)="toogleForm()">Incluir<i class="fa fa-plus"></i></a> -->
    </div>  
</div>
<div class="row" *ngIf="openForm">
   <div class="col-lg-6 col-lg-offset-3">
      <cp-portion-form-acc [amountAccount]="amountAccountS" [amountPortion]="amountPortion" (portionAccChange)="include($event)"></cp-portion-form-acc>
   </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <cp-portion-grid-acc (deleteAct)="procDel($event)" [arrayPortion]="portionArray"></cp-portion-grid-acc>
    </div>
 </div>
 <div class="row">
     <div class="col-lg-12 text-right">
         <span> Total <strong>{{amountPortion/100 | currency:'BRL':true }}</strong></span>
     </div>
 </div>