<div class="card text-left">
            <div class="card-block">
              <h3 class="text-success">Novo Cliente<br></h3>
              <form (ngSubmit)="onSubmit()" #fpeople="ngForm" >
                 
                 <div class="form-group">
                 <label>Tipo de Pessoal</label>
                 <select class="form-control" [(ngModel)]="people.typePeople" name="typePeople" required>
                     <option value="FI">Física</option>
                     <option value="JU">Jurídica</option>  
                 </select>  
                </div>
                <div class="form-group">
                  <label>Nome</label>
                  <input type="text"  minlength="5" maxlength="50" class="form-control"  [(ngModel)]="people.name"  name="name" required  />
                </div> 
                <ngb-tabset>
                  <ngb-tab title="Endereço">
                    <template ngbTabContent>
                      <div class="row">

                           <div class='col-lg-8'>
                              <div class="form-group">
                                <label>Cep</label>
                                <input type="text" class="form-control" ng-model="people.cep" di-cep name="cep"  />
                             </div>
                          </div>
                         <div class="col-lg-4">
                            <a href="" ng-click="pesquisaCep(people.cep)" style="margin-top:50px;"><img src="img/logo-correios.jpg" width="50px;"/></a>                  
                         </div>
                      </div>
                    </template>
                  </ngb-tab>
                </ngb-tabset>




                <button type="submit" [disabled]="fpeople.form.invalid" class="btn btn-primary">Gravar</button>
                <button type="cancel" class="btn btn-danger" (click)="cancel();">Limpar</button>
              
              </form>
            </div>
            </div>