
<div class="alert alert-danger" *ngIf="!ctDao.isChosenCompany()">
    Deve selecionar um Estabelecimento
</div>    
<div *ngIf="ctDao.isChosenCompany()">
<div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 class="text-primary">Clientes</h1>
            </div>  
           <button  class="btn btn-primary" (click)="toogleForm()">
                       <i class="fa fa-plus-square"></i> 
            </button>
            <br/>

        </div>
 </div>
 <div class="row" *ngIf="openForm">
     <div class="col-lg-6 col-lg-offset-3">
        <cp-people-form [changePeople]="selectPeople"  (peopleChange)="save($event)"></cp-people-form>
     </div>

 </div>
 <div class="row">
    <div class="col-lg-12">
       <cp-grid-people [showActs]="true" (peopleChoose)="choosePeople($event)"></cp-grid-people>
    </div>
 </div>
</div> 