<div class="alert alert-danger" *ngIf="!ctDao.isChosenCompany()">
    Deve selecionar um Estabelecimento
</div>    
<div *ngIf="ctDao.isChosenCompany()">
<div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 class="text-primary">Plano de Contas</h1>
            </div>  
        </div>
 </div>
 <div class="row">
     <div class="col-lg-4">
         <button  class="btn btn-primary" (click)="toogleFplan=!toogleFplan">
                       <i class="fa fa-plus-square"></i> 
         </button>
         <br />
         <cp-accountplan-form *ngIf="toogleFplan" [chosenUpdate]="keyChosenUpdate" (salved)="toogleFplan=false"></cp-accountplan-form>
         <cp-accountplan-grid  (chosenUpdate)="keyChosenUpdate=$event;toogleFplan=true;"></cp-accountplan-grid>
     </div>
 </div>    
</div>