<div class="alert alert-danger" *ngIf="!ctDao.isChosenCompany()">
    Deve selecionar um Estabelecimento
</div>    
<div *ngIf="ctDao.isChosenCompany()">
<div class="row">
        <div class="col-lg-8">
            <div class="page-header">
                <h1 class="text-primary">Plano de Contas</h1>
            </div>  
        </div>
        <div class="col-lg-4">   
           <button  class="btn btn-primary" (click)="toogleForm()">
                       <i class="fa fa-plus-square"></i> 
            </button>
            <br/>
        </div>
 </div>
 <div class="row">
     <div class="col-lg-4">
         <cp-accountplan-grid></cp-accountplan-grid>
     </div>
 </div>    
</div>